<div class="container">
  <div class="container__button">
    <button (click)="dogPage()">Show Dogs</button>
    <button (click)="greenDogsPage()">Show green dogs</button>
    <button (click)="foodPage()">Show cats</button>
    <button (click)="catPage()">Show dog food</button>
  </div>
  <div class="container__text">
    <div class="title">Solemn 1</div>
    <div class="text">Members :</div>
    <div class="text">Ignacio González</div>
    <div class="text">Sebastián Riquelme</div>
    <div class="text">Christopher Venegas</div>
  </div>
</div>