.container {
  width: 100%;
  height: 100%;
  .container__button {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 15px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 6px;
      border: 2px solid #0016b0;
      margin: 0px 10px;
    }
    button:hover{
      color: #1883ba;
      background-color: #ffffff;
    }
  }
  .container__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    padding: 10%;
    .title {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 200px;
    }
    .text {
      font-size: 80px;
    }
  }
}